{% extends 'base.html' %}

{% block title %}Privacy | {% endblock %}

{% block content %}
    <h1 class="title">Privacy policy</h1>

    <p>
        We know that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. 
        This Privacy Notice describes how Nestit.com.com and its affiliates (collectively "Nestit.com") 
        collect and process your personal information through Nestit.com websites, devices, products, services,
         online and physical stores, and applications that reference this Privacy Notice (together "Nestit.com Services").
    </p>
{% endblock %}